.actionsWidth {
    flex: 0 0 100px;
    justify-content: center;
}

.specialWidth {
    flex: 0 0 85px;
    justify-content: center;
}

.specialWidth2 {
    flex: 0 0 170px;
    justify-content: center;
}

.specialWidth3 {
    flex: 0 0 105px;
    justify-content: center;
}

.specialWidth4 {
    flex: 0 0 180px;
    justify-content: center;
}
